keras
tensorflow
opencv-python
numpy
matplotlib
scikit-learn 
IPython
librosa
pandas
plotly
seaborn
scipy
tqdm
resampy
media
absl-py
appdirs
audioread
cached-property
certifi
cffi
chardet
cycler
decorator
joblib
kiwisolver
librosa
llvmlite
matplotlib
numba
numpy
pandas
pooch==1.2.0
protobuf==3.12.2
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
resampy==0.2.2
scikit-learn
scipy==1.5.2
six==1.15.0
soundfile=
tensorboard
tensorboard-plugin-wit
tensorflow==2.2.0
tensorflow-estimator==2.2.0
threadpoolctl==2.1.0
tqdm
urllib3
Werkzeug
